<li>
  <h3><%= link_to @story.title, @story.link %></h3>
  <p>
    <b>Upvotes</b>: <%= @story.upvotes %><br>
    <b>Category</b>: <%= @story.category %> <br>
   
  </p>
</li>


<%= link_to 'Back', stories_path %>